# backend

/backend/certs/
/backend/target/

# frontend

/frontend/.pnp.*
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/sdks
!/frontend/.yarn/versions

/frontend/.vite/

/frontend/dist/
